<!DOCTYPE html>
<html>
<body bgcolor='yellow'>
<center>
<h1>Predictions of Voice using Logistic Regression</h1>

<form action="/result" method="POST">
  <label >meanfreq</label><br>
  <input type="text" name="meanfreq" ><br>
  <label>sd</label><br>
  <input type="text" name="sd" ><br><br>
  <label>median</label><br>
  <input type="text"  name="median"><br><br>
  <label >IQR:</label><br>
  <input type="text"  name="IQR"><br><br>
  <label >skew</label><br>
  <input type="text"  name="skew"><br><br>
  <label >kurt</label><br>
  <input type="text"  name="kurt"><br><br>
  <label >mode</label><br>
  <input type="text"  name="mode"><br><br>
  <label >centroid</label><br>
  <input type="text"  name="centroid"><br><br>

  <label >dfrange</label><br>
  <input type="text"  name="dfrange"><br><br>


  

  <input type="submit" value="Predict">
  
</form>
</center>
</body>
</html>